body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    align-items: center;
    justify-content: space-between;
}
h1 {
    padding: 0;
    margin: 0;
}

.header,
.footer {
    /* height: 10px; */
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.sketchArea {
    width: 50vh;
    height: 50vh;
    display: grid;
    border: solid black 1px;
}

.sketchBox {
    /* border: solid black 1px; */
    margin: 0;
    padding: 0;
}

.sketchBox:hover {
    background-color: lightgray;
}